<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="DefaultDeviceId" value="SimulatorDevice_1" />
    <add key="DefaultDeviceIpAddress" value="@localhost" />
    <add key="HttpRestServerCommunicationHandler.LocalPort" value="41118" />
    <add key="CndepServerCommunicationHandler.ServerPort" value="41120" />
    <add key="CndepServerCommunicationHandler.CommunicationProtocol" value="UDP" />
    <add key="CndepServerCommunicationHandler.ServerIpAddress" value="@localhost" />

    <add key="TrackingPoint.PerformTracking" value="true" />
    <add key="ContentParserTypeName.application/json" value="Common.Server.JsonContentParser, Common.Server" />
    <add key="TrackingPoint.ConnectionString" value="Data Source=LAPTOP;Initial Catalog=Experiments;Persist Security Info=True;User ID=EXPERIMENT;Password=EXPERIMENT;Max Pool Size=100;Pooling=true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
