<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="CustomWsHttpBinding" maxReceivedMessageSize="2000000000">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint name="GatewayServiceWsHttpBinding" address="http://localhost/GatewayService/GatewayService.svc" binding="wsHttpBinding" bindingConfiguration="CustomWsHttpBinding" contract="GatewayServiceContract.IGatewayService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>

  </system.serviceModel>

  <appSettings>
    <add key="-TemplateFileDevice:" value="Device.json" />
    <add key="-TemplateFileSensors:" value="Sensors.json" />
    <add key="-TemplateFileSensorData:" value="SensorData.json" />
    <add key="-ParamsDataFile:" value="ParamsData.csv" />
    <add key="-ServerUri:" value="http://127.0.0.1/GatewayService" />
    <add key="-TimeoutInMillis:" value="5000" />
    <add key="-ContentType:" value="application/json" />
    <add key="-CycleCount:" value="50" />
    <add key="-CyclePeriod:" value="0" />
    <add key="-IsBulkDataPut:" value="false" />
    <add key="-CommMode:" value="Remoting" />
    <add key="-NumValuesToWrote:" value="1" />
    <add key="-ODataUri:" value="http://127.0.0.1/GatewayService/CentralServerServiceOData.svc/SensorData?$filter=SensorId eq 1498280 and (TakenWhen gt datetime'2012-10-27T09:32:48')" />
    <add key="ContentParserType.application/json" value="Common.Server.JsonContentParser, Common.Server" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.runtime.remoting>
    <application name="GatewayServices">
      <client>
        <wellknown mode="Singleton" type="CentralServerService.CentralServerServiceImpl, CentralServerService" url="tcp://localhost:8085/RemoteCentralServerService" />
      </client>
      <channel ref="tcp">
        <clientProviders>
          <formatter ref="binary" typeFilterLevel="Full" />
        </clientProviders>
      </channel>
    </application>
    <customErrors mode="Off" />
  </system.runtime.remoting>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
