<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="DurationBetweenWritesInMsec" value="1" />
    <add key="NumberOfActuatorsToWrite" value="20" />
    <add key="NumberOfIterations" value="500" />
    <add key="UseSingleValuePush" value="false" />
    
    <add key="CNDEPServer" value="MICHI-MONSTER" />
    <add key="CNDEPPort" value="41120" />
    <add key="CNDEPProtocol" value="TCP" />
    <add key="DeviceId" value="SimulatorDevice_1" />
    <add key="ActuatorBaseName" value="actuator_" />
    <add key="ContentParserTypeName.application/json" value="Common.Server.JsonContentParser, Common.Server" />
    <add key="TrackingPoint.PerformTracking" value="true" />
    <add key="TrackingPoint.ConnectionString" value="Data Source=MICHI-MONSTER;Initial Catalog=Experiments;Persist Security Info=True;User ID=EXPERIMENT;Password=EXPERIMENT;Max Pool Size=100;Pooling=true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>