<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Register a section handler for the log4net section -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
  </configSections>



  <system.webServer>
    <handlers>

      <!-- SensorDataHttpHandler -->
      <!-- Put data for a single sensor or for many-->
      <add name="SensorDataHandler" verb="PUT,POST" path="GatewayService/SingleDevice/*/SingleSensor/*/data" type="GatewayServiceContract.SensorDataHttpHandler, GatewayServiceContract" />
      <add name="AlternativeSensorDataHandler" verb="PUT,POST,GET" path="GatewayService/SingleDevice/*/MultipleSensors/SensorData" type="GatewayServiceContract.SensorDataHttpHandler, GatewayServiceContract" />
      <add name="GetLatestSensorDataHandler" verb="GET" path="GatewayService/SingleDevice/*/MultipleSensors/SensorData/latest" type="GatewayServiceContract.SensorDataHttpHandler, GatewayServiceContract" />


      <!-- SensorHttpHandler -->
      <!-- Register / Retrieve 1 sensor for a device -->
      <add name="SensorHandler" verb="PUT,POST,GET" path="GatewayService/SingleDevice/*/SingleSensor/*" type="GatewayServiceContract.SensorHttpHandler, GatewayServiceContract" />
      <add name="AlternateSensorHandler" verb="GET" path="GatewayService/SingleDevice/*/SingleSensor/*/isRegistered" type="GatewayServiceContract.SensorHttpHandler, GatewayServiceContract" />

      <!-- DeviceSensorsHttpHandler -->
      <!-- Register / Retrieve 1..n sensors for a device -->
      <add name="DeviceSensorHandler" verb="GET,PUT,POST" path="GatewayService/SingleDevice/*/MultipleSensors" type="GatewayServiceContract.DeviceSensorsHttpHandler, GatewayServiceContract" />

            <!-- DeviceHttpHandler -->
      <!-- Check if a device is used and retrieve information about a device -->
      <add name="GetDeviceIsUsedHandler" verb="GET" path="GatewayService/SingleDevice/*/isUsed" type="GatewayServiceContract.DeviceHttpHandler, GatewayServiceContract" />
      <add name="DeviceDetailHandler" verb="GET,PUT,POST" path="GatewayService/SingleDevice/*/" type="GatewayServiceContract.DeviceHttpHandler, GatewayServiceContract" />


      <!-- GetDevicesHttpHandler -->
      <!-- Retrieve all devices -->
      <add name="GetDevicesHAndler" verb="GET" path="GatewayService/MultipleDevices" type="GatewayServiceContract.GetDevicesHttpHandler, GatewayServiceContract" />


      <!-- VariousHandler -->
      <!-- get the next correlation id -->
      <add name="GetNextCorrelationIdHandler" verb="GET" path="GatewayService/GetNextCorrelationId" type="GatewayServiceContract.VariousHttpHandler, GatewayServiceContract" />



      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE" modules="IsapiModule" scriptProcessor="c:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
    </handlers>
    
    <modules>
      <add name="ManagedEngineV4.0_32bit" preCondition="integratedMode,runtimeVersionv4.0,bitness32" />
    </modules>
  </system.webServer>

  <connectionStrings>
    <add name="DataStorageAccess.Properties.Settings.ExperimentsConnectionString1" connectionString="Data Source=.;Initial Catalog=Experiments;Persist Security Info=True;User ID=EXPERIMENT;Password=EXPERIMENT" />
  </connectionStrings>

  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file value="GatewayServiceLog.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <!--header value="FILE HEADER&#13;&#10;" />
        <footer value="FILE FOOTER&#13;&#10;" /!-->
        <conversionPattern value="%date [%thread] %-5level %logger (%property{log4net:HostName}) [%ndc] - %message%newline" />
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger (%property{log4net:HostName}) [%ndc] - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <!--appender-ref ref="ConsoleAppender" /!-->
      <appender-ref ref="LogFileAppender" />
    </root>

  </log4net>

  <system.runtime.remoting>
    <application name="GatewayServices">
      <client>
        <wellknown mode="Singleton" type="CentralServerService.CentralServerServiceImpl, CentralServerService" url="tcp://localhost:8085/RemoteCentralServerService" />
      </client>
      <channel ref="tcp">
        <clientProviders>
          <formatter ref="binary" typeFilterLevel="Full" />
        </clientProviders>
      </channel>
    </application>
    <customErrors mode="Off" />
  </system.runtime.remoting>

  <!--
	<system.diagnostics>
		<trace autoflush="true">
			<listeners>
				<add name="textWriterTraceListener"
					 type="System.Diagnostics.TextWriterTraceListener"
					 initializeData="C:\Experiment\log4net_internal.log"/>
			</listeners>
		</trace>
	</system.diagnostics>
	!-->

  <system.serviceModel>

    <bindings>
      <wsHttpBinding>
        <binding name="CustomWsHttpBinding" maxReceivedMessageSize="2000000000">
          <security mode="None" >
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    
    <services>
      <service name="GatewayServiceContract.GatewayServiceImpl" behaviorConfiguration="GatewayServiceContract.GatewayServiceBehavior"  >
        <endpoint binding="wsHttpBinding" contract="GatewayServiceContract.IGatewayService" bindingConfiguration="CustomWsHttpBinding" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="GatewayServiceContract.GatewayServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>



  <appSettings>
    <add key="ContentParserTypeName.application/json" value="Common.Server.JsonContentParser, Common.Server" />
    <add key="TrackingPoint.PerformTracking" value="true"/>
    <add key="TrackingPoint.ConnectionString" value="Data Source=MICHI-MONSTER;Initial Catalog=Experiments;Persist Security Info=True;User ID=EXPERIMENT;Password=EXPERIMENT;Max Pool Size=100;Pooling=true"/>
  </appSettings>


</configuration>
