<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
        <compilation debug="true" targetFramework="4.0" />
		<httpHandlers>
			<!-- DeviceHttpHandler -->
			<add verb="GET" path="DeviceSimulator/Sensors/*/" type="Device.Simulator.HttpRest.PullSensorSimulatorHandler, Device.Simulator.HttpRest" />
		</httpHandlers>
    </system.web>

	<appSettings>
		<add key="ContentParserTypeName.application/json" value="Common.Server.JsonContentParser, Common.Server" />
	</appSettings>
    <system.webServer>
        <handlers>
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
            <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE" modules="IsapiModule" scriptProcessor="c:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
        </handlers>
        <modules>
            <add name="ManagedEngineV4.0_32bit" preCondition="integratedMode,runtimeVersionv4.0,bitness32" />
        </modules>
    </system.webServer>

</configuration>
